h2 {
    text-transform: uppercase;
    color: azure;
    margin-top: 20px;
    text-align: center;


}
form {
    margin-top: 10px;

}
fieldset {
    border: 3px solid blue;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(201, 201,233);

}
legend {
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    font-size: large;
    font-style: italic;
    margin-bottom: 10px;
    background-color: navy;
    padding: 5px;
    border-radius: 10px;

}
input {
    padding: 2px;
    border: 2px solid blue;
    border-radius: 5px;

}
p {
    font-weight: bolder;
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgb(66, 85, 197);

}
button {
    border-radius: 5px;
    float: right;
    padding: 9px;
    margin: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: orange;
    color: white;
}